$light-text: #02203a;
$light-blue-bg: #f7fbff;
$blue: #0091eb;
$mid-blue: #00428e;
$blue-gray-1: #708496;
$blue-gray-2: #dae5f2;
$dark-blue: #02203a;
$white: #ffffff;
$light-gray-border: #e9e9e9;
$orange: #ff9900;
$light-cyan: #f9fcff;
$red: #e9473f;
$green: #0fb800;
$purple: #8a3fe9;
