@font-face {
    font-family: Montserrat-thin;
    src: url('/public/fonts/Montserrat-Thin.ttf');
}

@font-face {
    font-family: Montserrat-light;
    src: url('/public/fonts/Montserrat-Light.ttf');
}

@font-face {
    font-family: Montserrat-regular;
    src: url('/public/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-medium;
    src: url('/public/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-semibold;
    src: url('/public/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-bold;
    src: url('/public/fonts/Montserrat-Bold.ttf');
}