$light-text: #02203A;
$light-blue-bg: #F7FBFF;
$blue: #0091EB;
$mid-blue: #00428E;
$blue-gray-1: #708496;
$blue-gray-2: #DAE5F2;
$dark-blue: #02203A;
$white: #FFFFFF;
$light-gray-border: #e9e9e9;
$orange: #FF9900;
$light-cyan: #F9FCFF;
$red: #E9473F;
$green: #0FB800;
$purple: #8A3FE9;