@import '../_responsive.scss';
@import '../abstracts/layout.scss';

header{
    max-width: 100%;
    height: 3rem;
    background: $light-blue-bg;
    @include flex-y{
        justify-content: space-between;
    }
    padding: 0.25rem 5rem;

    .navigation{
        display: flex;
        font-size: 0.75rem;
        font-family: Montserrat-medium;
        letter-spacing: 0;
        color: $light-text;

        div{
            padding: 0 1.5rem;
            @include flex-y;

            &:hover:not(:nth-child(7)){
                background: rgba(0, 166, 255, 0.111);
                border-radius: 2rem;
            }
            &:nth-child(7){
                @include flex-y;
                gap: 0.5rem;

                a:nth-child(2){
                    background: $blue;
                    padding: 0.2rem 0.5rem;
                    border-radius: 2rem;
                    color: $white;
                    font-weight: 600;

                }
            }
            &:nth-child(8){
                a{
                    border: 1px solid $light-gray-border;
                    padding: 0.2rem 0.5rem 0.2rem 1rem;
                    border-radius: 2rem;
                    position: relative;

                    span{
                        position: absolute;
                        top: 18%;
                        left: 5%;
                        opacity: 0.3;
                    }
                }
            }
        }
        .active{
            color: $blue;
            border-radius: 2rem;
        }
    }
    .mobile_navigation{
        display: none;

        .navigation_toggle{
            position: relative;

            #navigation_toggle_close{
                display: none;
            }

            .mobile_navigation_list{
                background: $white;
                position: fixed;
                display: none;
                top: 3rem;
                right: 0;
                width: 100%;
                height: 90%;
                z-index: 2;
                justify-content: center;
                align-items: center;
                animation: mobile_nav_animate 0.3s ease-out;

                ul{
                    display: grid;
                    align-content: space-around;
                    height: 100%;

                    li{
                        font-size: 1.5rem;
                        font-weight: 600;
                        letter-spacing: 0;
                        color: $light-text;
                        padding: 1rem 5rem;
                        border-radius: 2rem;
                        overflow: hidden;

                        &:hover{
                            background: $light-blue-bg;
                            color: $blue;
                        }
                    }
                    .active{
                        background: $light-blue-bg;
                        color: $blue;
                    }
                }
            }
        }
    }
}

@keyframes mobile_nav_animate{
    0%{
        height: 0;
        width: 0;
        opacity: 0;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 100rem;
        border-bottom-right-radius: 50%;
    }
    100%{
        height: 90%;
        width: 100%;
        opacity: 1;
    }
}

@include responsive_1100{
    header{
        padding: 0.25rem 3rem;

        .navigation{
            div{
                padding: 0 1.3rem;
            }
        }
    }
}
@include responsive_1024{
    header{
        padding: 0.25rem 2rem;

        .navigation{
            div{
                padding: 0 1rem;
            }
        }
    }
}
@include responsive_978{
    header{
        .navigation{
            display: none;
        }
        .mobile_navigation{
            display: inline-block;

            .navigation_toggle{
                cursor: pointer;
            }
        }
    }
}