@import '../_variables.scss';
@import '../_responsive.scss';
@import '../abstracts/layout.scss';
@import '../abstracts/identity.scss';
@import '../components/header.scss';
@import '../components/footer.scss';

.intro_banner{
        @include bg-only(background-image, url('/public/home/big_banner.png'));
        height: 35rem;
        position: relative;
        flex-direction: column;
        @include flex-xy;
        color: $white;
        gap: 5rem;

        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $dark-blue;
            opacity: 0.8;
            z-index: 0;
        }

        .intro_title{
            z-index: 1;
            line-height: 40px;
            text-align: center;

            h1{
                font-family: Montserrat-bold;
                font-size: 2rem;
            }
        }

        .intro_search {
            z-index: 1;

            .intro_search-label{
                font-size: 0.8rem;
                font-weight: 600;
                line-height: 1.5rem;
                letter-spacing: 0.1em;
                text-align: left;
                color: $white;
            }
            form{
                input{
                    border: 1px solid $blue-gray-2;
                    border-radius: 4px;
                    width: 40rem;
                    height: 3rem;
                    color: $blue-gray-1;
                    padding: 1rem;
                    margin-right: 0.5rem;
                }
                button{
                    text-transform: uppercase;
                    width: 11.5rem;
                    height: 3rem;
                    border-radius: 4px;
                    font-size: 0.8rem;
                    font-weight: 700;
                    line-height: 1.5rem;
                    letter-spacing: 0em;
                    text-align: center;
                    background: $blue;
                    color: $white;
                    cursor: pointer;
                }
            }
        }
}

@include responsive_900{
    .intro_banner{
        .intro_search{
            form{
                input{
                    width: 30rem;
                    height: 3rem;
                }
                button{
                    width: 8rem;
                    height: 3rem;
                }
            }
        }
    }
}
@include responsive_678{
    .intro_banner{
        .intro_search{
            form{
                input{
                    width: 24rem;
                    height: 3rem;
                }
            }
        }
    }
}
@include responsive_574{
    .intro_banner{
        .intro_search{
            form{
                input{
                    width: 18rem;
                    height: 2.5rem;
                }
                button{
                    width: 6rem;
                    height: 2.5rem;
                    font-size: 0.6rem;
                }
            }
        }
    }
}
@include responsive_430{
    .intro_banner{
        .intro_search{
            form{
                input{
                    width: 16rem;
                    height: 2rem;
                }
                button{
                    width: 5rem;
                    height: 2.1rem;
                    font-size: 0.6rem;
                }
            }
        }
    }
}
@include responsive_376{
    .intro_banner{
        .intro_search{
            form{
                display: grid;
                gap: 0.75rem;

                input{
                    width: 100%;
                }
                button{
                    width: 100%;
                }
            }
        }
    }
}

.company{
    padding: 5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    h1{
        text-transform: uppercase;
        text-align: center;
        color: $dark-blue;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;

        span{
            color: $orange;
            font-family: Montserrat-bold;
        }
    }

    .company_banner{
        @include flex-y{
            justify-content: space-around;
        }
        flex-wrap: wrap;
        width: 100%;
        gap: 2rem;

        img{
            max-height: 138px;
            height: min-content;
        }
    }
}
.browse_job{
    background: $light-cyan;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;

    &::after{
        position: absolute;
        z-index: 0;
        @include bg-only(background-image, url('/public/home/browse_job/wave_left.svg')){
            content: '';
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        };
    }
    .browse_job-title{
        z-index: 1;
        h1{
            text-transform: uppercase;
            text-align: center;
            color: $dark-blue;
            letter-spacing: 0.1em;
            font-size: 2rem;
            line-height: 2.5rem;
    
            span{
                color: $blue;
                font-family: Montserrat-bold;
            }
        }
    }
    
    .browse_job_grid{
        z-index: 1;
        @include grid-xy;
        gap: 1rem;
        padding: 0.5rem;
        grid-template-columns: auto auto;

        div{
            width: 25rem;
            height: 3.5rem;
            color: $dark-blue;
            background: $white;
            cursor: pointer;
            @include flex-y{
                justify-content: space-between;
            }
            border-radius: 0.5rem;
            &:hover{
                .job_type{
                    border-left-width: 3px;
                }
            }

            .job_type{
                border-left: 2px solid $blue;
                font-family: Montserrat-bold;
                font-size: 1rem;
                line-height: 1.5rem;
                padding: 0 0.5rem;
            }
            .job_slot{
                font-family: Montserrat-regular;
                font-size: 0.75rem;
                line-height: 1.75rem;
                border-left: 1px solid $blue-gray-2;
                width: 23%;
                text-align: right;
                padding: 0 0.5rem;
            }
        }
    }
}
@include responsive_900{
    .browse_job{
        .browse_job_grid{
            grid-template-columns: auto;

            div{
                width: 30rem;
            }
        }
    }
}
@include responsive_574{
    .browse_job{
        .browse_job_grid{
            grid-template-columns: auto;
            
            div{
                width: 21rem;
            }
        }
    }
}
@include responsive_430{
    .browse_job{
        .browse_job_grid{
            grid-template-columns: auto;
            
            div{
                width: 18rem;

                .job_type{
                    font-size: 0.8rem;
                }
                .job_slot{
                    font-size: 0.8rem;
                }
            }
        }
    }
}

.feature_job{
    padding: 3rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1{
        text-transform: uppercase;
        text-align: center;
        color: $dark-blue;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;

        span{
            color: $orange;
            font-family: Montserrat-bold;
        }
    }

    .feature_job-grid{
        @include flex-xy;
        padding: 1rem 0.5rem;
        gap: 2rem;
        flex-wrap: wrap;

        .job_cell{
            display: flex;
            align-items: center;
            width: 22rem;
            max-width: 25rem;
            height: 7rem;
            @include light-shadown;
            border-radius: 8px;
            padding: 0.5rem;
            gap: 0.75rem;

            div:nth-child(1){
                @include flex-xy;
                width: 6.75rem;
                height: 5.25rem;

                img{
                    width: 100%;
                    height: 100%;
                    border-radius: 0.25rem;
                }
            }

            div:nth-child(2){
                display: grid;
                align-content: stretch;
                height: 100%;
                width: 100%;

                h3{
                    color: $dark-blue;
                    font-family: Montserrat-bold;
                    font-size: 1rem;
                    line-height: 1.5rem;
                    overflow: hidden;
                }
                p{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 0.8rem;
                    line-height: 1.5rem;
                    color: $blue-gray-1;
                }
                div{
                    @include flex-y{
                        justify-content: space-between;
                    };
                    padding: 0.2rem;

                    p{
                        border-radius: 4px;
                        background: $light-blue-bg;
                        font-family: Montserrat-semibold;
                        font-size: 0.75rem;
                        line-height: 0.5rem;
                        width: fit-content;
                        padding: 0.25rem 0.5rem;

                        &.red{
                            color: $red;
                        }
                        &.green{
                            color: $green;
                        }
                        &.purple{
                            color: $purple;
                        }
                        &.orange{
                            color: $orange;
                        }
                    }
                    
                    img{
                        max-height: 1.5rem;
                        max-width: 1.5rem;
                    }
                }
            }
            &:last-child{
                background: $blue-gray-2;
                justify-content: space-between;
                padding: 0.75rem;
                overflow: hidden;

                h2{
                    width: 65%;
                    font-weight: 700;
                    font-size: 1.5rem;
                    line-height: 2rem;
                    color: $mid-blue;

                    span{
                        font-family: Montserrat-bold;
                    }
                }

                div{
                    width: min-content;
                    display: flex;
                    align-items: end;
                }
            }
        }
    }
}

.sponsor{
    padding: 0 2rem 4rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    h1{
        text-transform: uppercase;
        text-align: center;
        color: $dark-blue;
        letter-spacing: 0.1em;
        font-weight: 600;
        font-size: 2rem;
        line-height: 2.5rem;

        span{
            color: $blue;
            font-family: Montserrat-bold;
        }
    }

    .sponsor_banner{
        @include flex-y{
            justify-content: center;
        }
        flex-wrap: wrap;
        width: 100%;
        gap: 5rem;

        img{
            max-height: 138px;
            height: min-content;
        }
    }
}