@import '~/styles/abstracts/identity.scss';
@import '~/styles/_variables.scss';

.signup_data {
  input {
    padding: 0.5rem;
    font-size: 16px;
    width: 100%;
    display: block;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  input:focus {
    border-color: #007eff;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 0 3px rgba(0, 126, 255, 0.1);
    outline: none;
  }

  input.error {
    border-color: red;
  }

  label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
  }

  .input-feedback {
    color: red;
    margin-top: 0.25rem;
  }

  button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
  }

  button:disabled {
    opacity: 0.5;
    cursor: not-allowed !important;
  }

  button + button {
    margin-left: 0.5rem;
  }

  button.outline {
    background-color: #eee;
    border: 1px solid #aaa;
    color: #555;
  }
}
.signup_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2.5rem;
  border-radius: 0.5rem;

  form {
    width: 25rem;
    min-height: 41.25rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    @include light-shadown;

    .signup_title {
      h1 {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        font-size: 32px;
        font-weight: 400;
        line-height: 40px;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        color: $dark-blue;

        span {
          font-weight: 600;
          color: $orange;
        }
      }
      p {
        font-weight: 400;
        font-size: 0.875rem;
        line-height: 1.5rem;
        color: $blue-gray-1;
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
    }

    .signup_radio {
      display: flex;
      align-items: center;
      gap: 2rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        color: $dark-blue;

        label {
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.5rem;
          cursor: pointer;
        }
      }
    }

    .signup_input {
      display: flex;
      flex-direction: column;
      gap: 1.375rem;
      margin-top: 1rem;
      margin-bottom: 1.625rem;
      div {
        display: flex;
        flex-direction: column;
        gap: 0.3rem;

        label {
          font-weight: 600;
          font-size: 0.875rem;
          line-height: 1.5rem;
          color: $dark-blue;
        }
        input {
          border: 1px solid $blue-gray-2;
          border-radius: 0.25rem;
          padding: 0.55rem;

          &::placeholder {
            font-weight: 300;
            font-size: 0.875rem;
            color: $blue-gray-1;
            opacity: 0.8;
          }
        }
        .input-feedback {
          color: $red;
          font-weight: 400;
          font-size: 0.75rem;
          line-height: 1.5rem;
        }
      }
    }

    .signup_checkbox {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;

      div {
        display: flex;
        align-items: center;
        gap: 0.25rem;

        input {
          background: #dadada;
        }
        label {
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          color: $dark-blue;
        }
      }
    }

    .signup_button {
      background: $blue;
      border-radius: 0.25rem;
      padding: 0.4rem;
      margin-top: 1.25rem;
      margin-bottom: 0.75rem;
      text-align: center;

      button {
        font-style: normal;
        font-weight: 700;
        font-size: 0.875rem;
        line-height: 1.5rem;
        text-align: center;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        background: none;
      }
    }

    .signup_option {
      font-style: normal;
      font-weight: 400;
      font-size: 0.875rem;
      line-height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.25rem;
      color: $dark-blue;

      a {
        color: $blue;
        font-weight: 600;
      }
    }
  }
}

.signup_infor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
}
.signup_infor label {
  background: $purple;
  padding: 0.75rem 3rem;
  color: $white;
  font-weight: 600;
  width: 50%;
  border-radius: 1rem;
  cursor: pointer;
}
.signup_infor button {
  padding: 1rem 3rem;
  font-weight: 600;
  border-radius: 0.5rem;
}
